.idea/
build/
cmake-build-debug/
cmake-build-release/
data/
experiments/
*~
\#*
*ipynb*
competitors/rmi/*.h
competitors/rmi/*.cpp
rmi_data/*
rmi.tar.zst
.vscode/
benchmark_results_*
fb*.csv
results/

analysis_results/
*.pngbenchmark_*.out
benchmark_*.err
scripts/__pycache__/
report/*.aux
report/*.log
report/*.out
build/
